* {
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 500;
  font-family: sans-serif;
}

h4{
  color: blueviolet;
}

.App {
  margin: 0;
}

.explanation {
  text-align: center;
}
.explanation p {
  font-size: 19px;
  font-weight: 600;
}
.bigsize {
  font-size: 200%;
  font-weight: 900;
}

.App-motto h1{
  color: blueviolet;
}

.About{
  font-size: 135%;
  font-weight: 900;
}

.About h3{
  color: blueviolet;
}

.App-nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 2px 2px 2px 1px rgba(89, 111, 234, 0.2);
  align-items: center;
  justify-content: space-evenly;
}

.App-logo {
  max-width: 100px;
}

.App-info {
  color: rgb(220, 22, 22);
  font-weight: bold;
}

section{
  padding: 20px;
}

.App-motto {
text-align: center;
text-shadow: 2px 4px 4px rgb(242, 245, 248);
}

.App-card {
  box-shadow: 2px 4px 8px 2px rgba(89, 111, 234, 0.2);
  transition: 0.9s;
  margin: 0 20px 40px;
}

.Card-info {
  text-align: center;
}

.Price-nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 40px;

}

.Price-card {
  box-shadow: 2px 4px 8px 2px rgba(89, 111, 234, 0.2);
  transition: 0.9s;
}

.Price-info {
  padding: 40px;
}

.Price {
  text-align: center;
  margin-bottom: 25px;

}

h3 {
  color: blueviolet;
}

.App-footer {
  text-decoration: dashed;
}

.Footer-card {
  box-shadow: 5px 2px 5px 5px rgba(89, 111, 234, 0.2);
  transition: 0.9s;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
button{
  background-color: blueviolet;
  padding: 7px 25px;
  border: none;
  cursor: pointer;
}


#form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Drag {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Picker {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.firebaseStorage {
  padding: 20px;
}

.BusinessForm {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=file], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.topping {
  margin-top: 0.3rem;
  vertical-align: text-bottom;
}

.result {
  margin-top: 1rem;
}

.toppings-list,
.total {
  width: 30%;
  margin: 0 auto;
}

.toppings-list {
  list-style: none;
  padding: 0;
}

.toppings-list li {
  margin-bottom: 0.5rem;
}

.toppings-list-item {
  display: flex;
  justify-content: space-between;
}

.toppings-list-item label {
  vertical-align: text-bottom;
  margin-left: 0.2rem;
}

.total {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .toppings-list,
  .total {
    width: 90%;
  }
}
