* {
  box-sizing: border-box;
  
}

.App {
  margin: 0;
}

.App-nav {
  height: 125px;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 2px 2px 2px 1px rgba(89, 111, 234, 0.2);
  align-items: center;
  justify-content: space-evenly;
}

.App-logo {
  max-width: 100px;
}

.App-info {
  color: rgb(220, 22, 22);
  font-weight: bold;
}