* {
  box-sizing: border-box;
  
}

.App {
  margin: 0;
}

.App-nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 2px 2px 2px 1px rgba(89, 111, 234, 0.2);
  align-items: center;
  justify-content: space-evenly;
}

.App-logo {
  max-width: 100px;
}

.App-info {
  color: rgb(220, 22, 22);
  font-weight: bold;
}

section{
  padding: 20px;
}

.App-motto {
text-align: center;
text-shadow: 2px 4px 4px rgb(3, 101, 200);
}

.App-card {
  box-shadow: 2px 4px 8px 2px rgba(89, 111, 234, 0.2);
  transition: 0.9s;
  margin: 0 40px;
}

.Card-info {
  text-align: center;
}

